<div class="fixed top-0 left-0 h-screen w-26 md:w-56 bg-red-lighter">
    <div class="flex items-center justify-center my-4 mx-2">
        <div class="bg-white flex items-center justify-center rounded-lg max-w-10 -rotate-15 md:ml-1.5 ml-0">

            <img src="../../../assets/image/logo.png" alt="logo"
                class="object-contain max-w-full max-h-full p-1 mx-auto">
        </div>
        <div class="hidden md:block">
            <div class="text-center text-white uppercase">
                <span class=" text-xl font-extrabold">
                    Promart Homecenter
                </span>
            </div>
        </div>
    </div>
    <hr class="mx-4 border-white border-opacity-50">

    <div class="pl-4 my-4">
        <!-- <div class="">
            <div class="uppercase">
                <span class="text-center text-xs font-extrabold text-white">
                    Interface
                </span>
            </div>
        </div> -->

        

        <div>
            <app-custom-select></app-custom-select>
        </div>
    </div>
</div>