<div class="overflow-x-hidden bg-slate-100 h-full">
    <div class="w-full h-18 bg-red-lighter z-0">
        <div class="md:ml-60 ml-30 h-full w-full">
            <div class="flex items-center pt-5">

                <ng-container *ngIf="currentUser">
                    <span class="text-xl uppercase font-semibold w-4/6 mr-20">{{ currentUser.rol === 'admin' ?
                        'Bienvenido ' +
                        currentUser.name :
                        'Bienvenido ' +
                        currentUser.name }}</span>
                </ng-container>


                <div class=" w-1/6 mr-7">
                    <button (click)="openModal()" class="text-black hover:text-white no-underline">
                        <mat-icon fontIcon="account_circle"></mat-icon>
                    </button>
                </div>


            </div>
        </div>
    </div>
    <div class="flex h-full">


        <div class="md:ml-60 ml-30 w-full h-full">

            <div class="py-7 pl-3">
                <span class="text-[28px] font-light">Panel de Administración </span>
            </div>
            <mat-tab-group>
                <mat-tab label="Pisos y Revestimientos">
                    <div class="flex items-center justify-center mt-10">

                        <form [formGroup]="productForm" (keydown.enter)="$event.preventDefault()"
                            (keydown.shift.enter)="$event.preventDefault()"
                            class="bg-white p-8 rounded-md shadow-md w-1/2  mb-20">

                            <div class="my-5">
                                <label for="batch" class="text-lg text-gray-500">Categorías *</label>

                                <!-- Cambiado a un select para el lote -->
                                <mat-select id="category" class="p-2 rounded-sm text-sm w-full"
                                    placeholder="Seleccione una categoría" [formControlName]="'category'">
                                    <ng-container>
                                        <button class="bg-orange-500 text-white px-4 py-2 rounded-md ml-2"
                                            (click)="addNewBatch()">
                                            <span>Agregar una categoría</span>
                                        </button>
                                        <mat-option *ngFor="let category of categories" [value]="category.name">
                                            {{ category.name }}
                                        </mat-option>
                                    </ng-container>

                                </mat-select>
                            </div>

                            <div class="my-5">
                                <label for="supplier" class="block text-lg text-gray-500">Proveedor *</label>
                                <mat-select id="supplier" class="p-2 roun ded-sm text-sm w-full" placeholder="---"
                                    [formControlName]="'supplier'">
                                    <ng-container>
                                        <mat-option *ngFor="let supplier of suppliers" [value]="supplier._id">
                                            {{supplier.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </div>

                            <div class=" my-5">
                                <label for="product" class=" text-lg text-gray-500">Producto *</label>
                                <input id="product" autocomplete="off" type="text" class="form-input"
                                    placeholder="Nombre del producto" [formControlName]="'name'">
                            </div>

                            <!--  <div class="my-5">
                                <label for="batch" class="text-lg text-gray-500">Lote *</label>
                                <input id="batch" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese el lote" [formControlName]="'batch'">
                            </div> -->
                            <div class="my-5">
                                <label for="batch" class="text-lg text-gray-500">Lote *</label>

                                <!-- Cambiado a un select para el lote -->
                                <mat-select id="batch" class="p-2 rounded-sm text-sm w-full"
                                    placeholder="Seleccione el lote" [formControlName]="'batch'">
                                    <ng-container>
                                        <button class="bg-orange-500 text-white px-4 py-2 rounded-md ml-2"
                                            (click)="addNewBatch()">
                                            <span>Agregar Nuevo Lote</span>
                                        </button>
                                        <mat-option *ngFor="let batch of batches" [value]="batch">
                                            {{ batch }}
                                        </mat-option>
                                    </ng-container>

                                </mat-select>
                            </div>



                            <div class="my-5">
                                <label for="price" class="text-lg text-gray-500">Precio *</label>
                                <input id="price" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese precio" [formControlName]="'price'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Cantidad *</label>
                                <input id="quantity" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese la cantidad" [formControlName]="'stock'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Número de serie *</label>
                                <input id="quantity" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese número de serie" [formControlName]="'serial_number'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Descripción</label>
                                <textarea id="quantity" autocomplete="off" type="text" class="form-input min-h-20"
                                    placeholder="Ingrese la descripción" [formControlName]="'description'">
                                </textarea>
                            </div>

                            <div class="text-center">
                                <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="onSubmit()">
                                    <span>Guardar Producto</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Pintura">
                    <div class="flex items-center justify-center mt-10">

                        <form [formGroup]="productForm" (keydown.enter)="$event.preventDefault()"
                            (keydown.shift.enter)="$event.preventDefault()"
                            class="bg-white p-8 rounded-md shadow-md w-1/2  mb-20">

                            <div class="my-5">
                                <label for="batch" class="text-lg text-gray-500">Categorías *</label>

                                <!-- Cambiado a un select para el lote -->
                                <mat-select id="category" class="p-2 rounded-sm text-sm w-full"
                                    placeholder="Seleccione una categoría" [formControlName]="'category'">
                                    <ng-container>
                                        <button class="bg-orange-500 text-white px-4 py-2 rounded-md ml-2"
                                            (click)="addNewBatch()">
                                            <span>Agregar una categoría</span>
                                        </button>
                                        <mat-option *ngFor="let category of categories" [value]="category.name">
                                            {{ category.name }}
                                        </mat-option>
                                    </ng-container>

                                </mat-select>
                            </div>

                            <div class="my-5">
                                <label for="supplier" class="block text-lg text-gray-500">Proveedor *</label>
                                <mat-select id="supplier" class="p-2 roun ded-sm text-sm w-full" placeholder="---"
                                    [formControlName]="'supplier'">
                                    <ng-container>
                                        <mat-option *ngFor="let supplier of suppliersPaint" [value]="supplier._id">
                                            {{supplier.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </div>

                            <div class=" my-5">
                                <label for="product" class=" text-lg text-gray-500">Producto *</label>
                                <input id="product" autocomplete="off" type="text" class="form-input"
                                    placeholder="Nombre del producto" [formControlName]="'name'">
                            </div>

                            <div class="my-5">
                                <label for="batch" class="text-lg text-gray-500">Lote *</label>

                                <!-- Cambiado a un select para el lote -->
                                <mat-select id="batch" class="p-2 rounded-sm text-sm w-full"
                                    placeholder="Seleccione el lote" [formControlName]="'batch'">
                                    <ng-container>
                                        <button class="bg-orange-500 text-white px-4 py-2 rounded-md ml-2"
                                            (click)="addNewBatch()">
                                            <span>Agregar Nuevo Lote</span>
                                        </button>
                                        <mat-option *ngFor="let batch of batches" [value]="batch">
                                            {{ batch }}
                                        </mat-option>
                                    </ng-container>

                                </mat-select>
                            </div>

                            <div class="my-5">
                                <label for="price" class="text-lg text-gray-500">Precio *</label>
                                <input id="price" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese precio" [formControlName]="'price'">
                            </div>

                            <div class="my-5">

                                <label class="text-lg text-gray-500">Fecha de vencimiento</label>

                                <div class="flex">

                                    <mat-form-field appearance="fill" class="flex-grow my-3">

                                        <input matInput [matDatepicker]="expiratonDate"
                                            placeholder="Seleccione una fecha" [formControlName]="'expiration_date'">

                                        <mat-datepicker-toggle matSuffix [for]="expiratonDate"></mat-datepicker-toggle>

                                        <mat-datepicker #expiratonDate (click)="$event.stopPropagation();">

                                            <mat-datepicker-actions>
                                                <button mat-flat-button
                                                    class="bg-yellow-400 mx-3 rounded-2xl px-10 py-0.5"
                                                    (click)="resetDate()">Borrar</button>
                                                <button mat-raised-button
                                                    class="bg-blue-500 mx-3 rounded-2xl px-10 py-0.5"
                                                    matDatepickerApply>Guardar</button>
                                            </mat-datepicker-actions>

                                        </mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Cantidad *</label>
                                <input id="quantity" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese la cantidad" [formControlName]="'stock'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Número de serie *</label>
                                <input id="quantity" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese número de serie" [formControlName]="'serial_number'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Descripción</label>
                                <textarea id="quantity" autocomplete="off" type="text" class="form-input min-h-20"
                                    placeholder="Ingrese la descripción" [formControlName]="'description'">
                                </textarea>
                            </div>

                            <div class="text-center">
                                <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="onSubmit()">
                                    <span>Guardar Producto</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="ElectroHogar">
                    <div class="flex items-center justify-center mt-10">

                        <form [formGroup]="productForm" (keydown.enter)="$event.preventDefault()"
                            (keydown.shift.enter)="$event.preventDefault()"
                            class="bg-white p-8 rounded-md shadow-md w-1/2  mb-20">

                            <div class="my-5">
                                <label for="supplier" class="block text-lg text-gray-500">Proveedor *</label>
                                <mat-select id="supplier" class="p-2 roun ded-sm text-sm w-full" placeholder="---"
                                    [formControlName]="'supplier'">
                                    <ng-container>
                                        <mat-option *ngFor="let supplier of suppliers" [value]="supplier._id">
                                            {{supplier.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </div>

                            <div class=" my-5">
                                <label for="product" class=" text-lg text-gray-500">Producto *</label>
                                <input id="product" autocomplete="off" type="text" class="form-input"
                                    placeholder="Nombre del producto" [formControlName]="'name'">
                            </div>

                            <div class="my-5">
                                <label for="batch" class="text-lg text-gray-500">Lote *</label>
                                <input id="batch" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese el lote" [formControlName]="'batch'">
                            </div>

                            <div class="my-5">
                                <label for="price" class="text-lg text-gray-500">Precio *</label>
                                <input id="price" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese precio" [formControlName]="'price'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Cantidad *</label>
                                <input id="quantity" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese la cantidad" [formControlName]="'stock'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Número de serie *</label>
                                <input id="quantity" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese número de serie" [formControlName]="'serial_number'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Descripción</label>
                                <textarea id="quantity" autocomplete="off" type="text" class="form-input min-h-20"
                                    placeholder="Ingrese la descripción" [formControlName]="'description'">
                                </textarea>
                            </div>

                            <div class="text-center">
                                <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="onSubmit()">
                                    <span>Guardar Producto</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Ferreteria">
                    <div class="flex items-center justify-center mt-10">

                        <form [formGroup]="productForm" (keydown.enter)="$event.preventDefault()"
                            (keydown.shift.enter)="$event.preventDefault()"
                            class="bg-white p-8 rounded-md shadow-md w-1/2  mb-20">

                            <div class="my-5">
                                <label for="supplier" class="block text-lg text-gray-500">Proveedor *</label>
                                <mat-select id="supplier" class="p-2 roun ded-sm text-sm w-full" placeholder="---"
                                    [formControlName]="'supplier'">
                                    <ng-container>
                                        <mat-option *ngFor="let supplier of suppliers" [value]="supplier._id">
                                            {{supplier.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </div>

                            <div class=" my-5">
                                <label for="product" class=" text-lg text-gray-500">Producto *</label>
                                <input id="product" autocomplete="off" type="text" class="form-input"
                                    placeholder="Nombre del producto" [formControlName]="'name'">
                            </div>

                            <div class="my-5">
                                <label for="batch" class="text-lg text-gray-500">Lote *</label>
                                <input id="batch" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese el lote" [formControlName]="'batch'">
                            </div>

                            <div class="my-5">
                                <label for="price" class="text-lg text-gray-500">Precio *</label>
                                <input id="price" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese precio" [formControlName]="'price'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Cantidad *</label>
                                <input id="quantity" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese la cantidad" [formControlName]="'stock'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Número de serie *</label>
                                <input id="quantity" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese número de serie" [formControlName]="'serial_number'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Descripción</label>
                                <textarea id="quantity" autocomplete="off" type="text" class="form-input min-h-20"
                                    placeholder="Ingrese la descripción" [formControlName]="'description'">
                                </textarea>
                            </div>

                            <div class="text-center">
                                <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="onSubmit()">
                                    <span>Guardar Producto</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-tab>

                <mat-tab label="Mas...">
                    <div class="flex items-center justify-center mt-10">

                        <form [formGroup]="productForm" (keydown.enter)="$event.preventDefault()"
                            (keydown.shift.enter)="$event.preventDefault()"
                            class="bg-white p-8 rounded-md shadow-md w-1/2  mb-20">

                            <div class="my-5">
                                <label for="supplier" class="block text-lg text-gray-500">Proveedor *</label>
                                <mat-select id="supplier" class="p-2 roun ded-sm text-sm w-full" placeholder="---"
                                    [formControlName]="'supplier'">
                                    <ng-container>
                                        <mat-option *ngFor="let supplier of suppliers" [value]="supplier._id">
                                            {{supplier.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </div>

                            <div class=" my-5">
                                <label for="product" class=" text-lg text-gray-500">Producto *</label>
                                <input id="product" autocomplete="off" type="text" class="form-input"
                                    placeholder="Nombre del producto" [formControlName]="'name'">
                            </div>

                            <div class="my-5">
                                <label for="batch" class="text-lg text-gray-500">Lote *</label>
                                <input id="batch" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese el lote" [formControlName]="'batch'">
                            </div>

                            <div class="my-5">
                                <label for="price" class="text-lg text-gray-500">Precio *</label>
                                <input id="price" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese precio" [formControlName]="'price'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Cantidad *</label>
                                <input id="quantity" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese la cantidad" [formControlName]="'stock'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Número de serie *</label>
                                <input id="quantity" autocomplete="off" type="text" class="form-input"
                                    placeholder="Ingrese número de serie" [formControlName]="'serial_number'">
                            </div>

                            <div class="my-5">
                                <label for="quantity" class=" text-lg text-gray-500">Descripción</label>
                                <textarea id="quantity" autocomplete="off" type="text" class="form-input min-h-20"
                                    placeholder="Ingrese la descripción" [formControlName]="'description'">
                                </textarea>
                            </div>

                            <div class="text-center">
                                <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="onSubmit()">
                                    <span>Guardar Producto</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>


        </div>

        <app-sidenav></app-sidenav>
    </div>
</div>