.custom-select {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-select div {
  cursor: pointer;
  padding: 8px;
}

.custom-select div:hover {
  background-color: #f2f2f2;
}
